<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" {{#falseOrFalse readyToPlay currentPlayerTurnToPlay}}http-equiv="refresh" content="5"
    {{/falseOrFalse}} />
  <title>Hex</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/css/game.css" />
</head>

<body>
  {{#areEqual game.state.winner null}}
  <div class="gameboard">
    <div class="box-current-player">
      {{#areEqual readyToPlay true}}
      <p>
        Current player:
        <span class="current-player" data-player="{{game.state.turn}}">{{game.state.turn}}</span>
      </p>
      {{#areEqual currentPlayerTurnToPlay false}}
      <p>Waiting for other player to make their move...</p>
      {{/areEqual}}
      {{else}}
      <p>Awaiting player 2...</p>
      <p>
        Send <a href="/game/{{game.id}}/join">this link</a> for second player to join
      </p>
      {{/areEqual}}
      <p>
        Player 1 (white): {{game.player1.username}}
      </p>
      <p>
        Player 2 (black): {{game.player2.username}}
      </p>
    </div>
    <div class=" hex-board-frame" style="--rows: {{game.state.board.length}}">
      <div class="left-edge"></div>
      <div class="right-edge"></div>
      <div class="top-edge"></div>
      <div class="bottom-edge"></div>
      <div class="hex-board-container">
        <i></i>
        {{#each game.state.board}}
        {{#each this}}
        {{#cellCanBePlayed this.value ../../readyToPlay ../../currentPlayerTurnToPlay }}
        <form method="post" action="/game/{{../../game.id}}">
          <input type="hidden" name="x" value="{{@index}}" />
          <input type="hidden" name="y" value="{{@../index}}" />
          <input type="submit" id="form-{{@../index}}-{{@index}}" style="display:none;" />
          <label for="form-{{@../index}}-{{@index}}" tabindex="0">
            <div class="cell" data-color="{{this.value}}">
            </div>
          </label>
        </form>
        {{else}}
        <div class="cell" data-color="{{this.value}}">
        </div>
        {{/cellCanBePlayed}}

        {{/each}}
        {{/each}}
      </div>
    </div>
  </div>
  {{else}}
  <div class="box-winner">
    <p>The winner is : {{game.state.winner}}</p>
    <form action="/" method="get">
      <input type="submit" value="Return to home page">
    </form>
  </div>
  {{/areEqual}}
</body>

</html>