<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Hex</title>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
  {{#each gameState.board}}
  {{#each this}}
  <form method="get" action="/">
    <input type="hidden" name="x" value="{{@index}}" />
    <input type="hidden" name="y" value="{{@../index}}" />
    <input type="hidden" name="gameState" value="{{encodeObjectAsQueryString ../../gameState}}" />
    <input type="submit" id="form-{{@../index}}-{{@index}}" style="display:none;" />
  </form>
  {{/each}}
  {{/each}}

  <div class="gameboard">
    <div class="hex-board-frame" style="--rows: {{gameState.board.length}}">
      <div class="left-edge"></div>
      <div class="right-edge"></div>
      <div class="top-edge"></div>
      <div class="bottom-edge"></div>
      <div class="hex-board-container">
        <i></i>
        {{#each gameState.board}}
        {{#each this}}
        <label for="form-{{@../index}}-{{@index}}" tabindex="0">
          <div class="cell" data-color="{{this.value}}">
          </div>
        </label>
        {{/each}}
        {{/each}}
      </div>
    </div>
  </div>
</body>

</html>